<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CoFiX Automatic Hedging Program</title>

    <style>
        .line {
            border-bottom: 0.5px dotted white;
        }
    </style>
</head>
<body class="bk">
<div style="text-align: center">
    <h2>CoFiX Automatic Hedging Program</h2>
    <div style="text-align: left;display: inline-block;">
        <p class="line"></p>
        <label>The current node: </label><label th:text=${node}></label>
        <p></p>
        <label>Wallet Address: </label><label th:text=${address}></label>
        <p></p>
        <label>Hedging interval: </label><label th:text=${interval}></label>
        <ol>
            <li th:each="m : ${hedgingPoolList}">
                <p class="line"></p>
                <form th:id="${m.huobiTradingPair}">
                    <label>[[${m.huobiTradingPair}]]：</label>
                    <input type="hidden" name="huobiTradingPair" th:value="${m.huobiTradingPair}">
                    <p></p>
                    &nbsp;&nbsp;&nbsp;&nbsp;The eth threshold = <input type="text" name="unitEthThreshold"
                                                                       th:value="${m.unitEthThreshold()}"
                                                                       style="width: 200px;"> ;
                    <p></p>
                    &nbsp;&nbsp;&nbsp;&nbsp;The [[${m.tokenName}]] threshold = <input type="text"
                                                                                      name="unitErc20Threshold"
                                                                                      th:value="${m.unitErc20Threshold()}"
                                                                                      style="width: 200px;"> ;
                    <p></p>
                    &nbsp;&nbsp;&nbsp;The Huoib's API KEY = [[${m.apiKey}]];
                    <p></p>
                    &nbsp;&nbsp;&nbsp;The Personal share = [[${m.poolAmountVo?.balance}]];
                    <p></p>
                    &nbsp;&nbsp;&nbsp;&nbsp;The Total share = [[${m.poolAmountVo?.totalSupply}]];
                    <p></p>
                    &nbsp;&nbsp;&nbsp;&nbsp;The Eth share = [[${m.poolAmountVo?.eth}]];
                    <p></p>
                    &nbsp;&nbsp;&nbsp;&nbsp;The [[${m.tokenName}]] share = [[${m.poolAmountVo?.erc20}]];
                    <p></p>
                    &nbsp;&nbsp;&nbsp;&nbsp;The Delta eth = [[${m.unitDeltaEth()}]];
                    <p></p>
                    &nbsp;&nbsp;&nbsp;&nbsp;The Delta [[${m.tokenName}]] = [[${m.unitDeltaErc20()}]];
                    <P></P>
                    <input type="button" th:onclick="updateThreshold([[${m.huobiTradingPair}]])" value="UpdateThreshold"
                           style="margin-left: 100px;"/>
                </form>
            </li>
        </ol>
        <p class="line"></p>
        <div th:if="${proxyPort>0}">
            <p></p>
            <label>Proxy ip: </label><label th:text="${proxyIp}"></label>
            <p></p>
            <label>Proxy port: </label><label th:text="${proxyPort}"></label>
            <p></p>
        </div>
        <p></p>
        <p class="line"></p>

        <label>Set up a marketmaker account address (required): </label>
        <form id="updateAddress">
            <input type="text" name="address" id="address" autocomplete="off">
            <input type="button" onclick="updateAddress()" value="Submit"/>
        </form>

        <p class="line"></p>
        <form id="updateExchangeApiKey">
            <label>Enter huobi API-KEY (required)</label>
            <!--            <p></p>-->
            <input type="text" name="apiKey" autocomplete="off">
            <p></p>
            <label>Enter huobi API-SECRET (required)</label>
            <!--            <p></p>-->
            <input type="text" name="apiSecret" autocomplete="off">
            <p></p>
            <input type="button" onclick="updateExchangeApiKey()" value="Submit"/>
        </form>

        <p class="line"></p>

        <p/>
        <div id="advance">^^^^^^ADVANCE OPTIONS^^^^^^</div>
        <p class="line"/>
        <div id="optional" style="display: none">
            <label>Set the network agent address and port (not required): </label>
            <form id="updateProxy">
                <input type="text" name="proxyIp" id="proxyIp" autocomplete="off"
                       placeholder="Proxy IP, default is 127.0.0.1">
                <input type="text" name="proxyPort" id="proxyPort" autocomplete="off"
                       placeholder="Proxy port, default is 0">
                <input type="button" onclick="updateProxy()" value="Submit"/>
            </form>

            <label>Setting up ethereum nodes (required): </label>
            <form id="updateNode">
                <input type="text" name="node" id="node" autocomplete="off" size="60%"
                       placeholder="web3 node URL(required)">
                <input type="text" name="nodeUsername" id="nodeUsername" size="20%" placeholder="node user name">
                <input type="text" name="nodePassword" id="nodePassword" size="20%" placeholder="node password">
                <input type="button" onclick="updateNode()" value="Submit"/>
            </form>

            <p class="line"></p>
            <form id="addTransactionPool">

                <label>Enter Huobi trading pairs (required):</label>
                <input type="text" name="tradingPairs" id="tradingPairs" autocomplete="off">
                <p></p>
                <label>Enter erc20 token contract address (required):</label>
                <input type="text" name="token" id="token" autocomplete="off">
                <p></p>
                <label>Enter huobi API-KEY (required)</label>
                <input type="text" name="apiKey" autocomplete="off">
                <p></p>
                <label>Enter huobi API-SECRET (required)</label>
                <input type="text" name="apiSecret" autocomplete="off">
                <p></p>
                <label>Enter eth threshold (not required,The default is 1 eth)</label>
                <input type="text" name="ethThreshold" id="ethThreshold" autocomplete="off">
                <p></p>
                <label>Enter erc20 threshold (not required,The default is 1 erc20)</label>
                <input type="text" name="erc20Threshold" id="erc20Threshold" autocomplete="off">
                <p></p>
                <label>Click Submit to add a trade pool, and you can add multiple trade pools in turn</label>
                <input type="button" onclick="addTransactionPool()" value="Submit"/>
                <!--                <p/>-->
            </form>
            <p class="line"></p>-->


            <label>Set the hedging interval(default: 20s): </label>
            <form id="updateInterval">
                <input type="number" name="interval" id="interval" autocomplete="off">
                <input type="button" onclick="updateInterval()" value="Submit"/>
            </form>
        <p class="line"></p>

        </div>
        <!--
                <form id="updatePasswd">
                    <label>Enter user password</label>
                    <p></p>
                    <input type="text" name="userPasswd" id="userPasswd" autocomplete="off">
                    <input type="button" onclick="updatePasswd()" value="Submit"/>
                </form>
        -->
    </div>

    <p class="line"/>
    <label th:text=${start}></label>
    <button onclick="startHedging()">Hedging</button>

</div>
</body>

<script src="../js/jquery.min.js"></script>
<script type="text/javascript">

    let node = '[[${node}]]';
    let address = '[[${address}]]';

    $('#advance').click(function () {
        const opt = $('#optional');
        if (opt.css('display') == 'none') {
            opt.show();
        } else {
            opt.hide();
        }
    })

    function updateThreshold(id) {
        $.ajax({
            type: "POST",
            url: "/hedging/updateThreshold",
            data: $('#' + id).serialize(),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('token', localStorage.getItem('token'));
            },
            success: function (result) {
                location.replace(location);
            },
            error: function () {
                alert("Error !!")
            }
        })
    }


    function addTransactionPool() {

        if (!node) {
            alert("Please set the node first");
            return false;
        }

        if (address == 'Please fill in the marketmaker account address') {
            alert("Please fill in the marketmaker account address");
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/hedging/addTransactionPool",
            data: $('#addTransactionPool').serialize(),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('token', localStorage.getItem('token'));
            },
            success: function (result) {
                location.replace(location);
            },
            error: function () {
                alert("Error !!")
            }
        })
    }


    function updateProxy() {
        var proxyPort = document.getElementById("proxyPort").value;
        if (!proxyPort) {
            alert("The proxy port cannot be empty")
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/hedging/updateProxy",
            data: $('#updateProxy').serialize(),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('token', localStorage.getItem('token'));
            },
            success: function (result) {
                location.reload();
            },
            error: function () {
                alert("Please enter the correct agent port and address!!")
            }
        })
    }

    function updateExchangeApiKey() {
        $.ajax({
            type: "POST",
            url: "/hedging/updateExchangeApiKey",
            data: $('#updateExchangeApiKey').serialize(),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('token', localStorage.getItem('token'));
            },
            success: function (result) {
                location.replace(location);
            },
            error: function () {
                alert("Please enter the correct API-Key !!")
            }
        })
    }

    function updatePasswd() {
        let passwd = document.getElementById("userPasswd").value;
        if (!passwd) {
            alert("The password cannot be empty")
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/auth/update-passwd",
            data: $('#updatePasswd').serialize(),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('token', localStorage.getItem('token'));
            },
            success: function (result) {
                location.reload();
            },
            error: function () {
                alert("Please enter the correct node address!!")
            }
        })
    }

    function updateNode() {
        var node = document.getElementById("node").value;
        if (!node) {
            alert("The node cannot be empty")
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/hedging/updateNode",
            data: $('#updateNode').serialize(),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('token', localStorage.getItem('token'));
            },
            success: function (result) {
                location.reload();
            },
            error: function () {
                alert("Please enter the correct node address!!")
            }
        })
    }


    function updateInterval() {
        if (!node) {
            alert("Please set the node first");
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/hedging/updateInterval",
            data: $('#updateInterval').serialize(),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('token', localStorage.getItem('token'));
            },
            success: function (result) {
                location.reload();
            },
            error: function () {
                alert("Please enter the correct interval!!")
            }
        })
    }

    function updateAddress() {
        if (!node) {
            alert("Please set the node first");
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/hedging/updateAddress",
            data: $('#updateAddress').serialize(),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('token', localStorage.getItem('token'));
            },
            success: function (result) {
                location.reload();
            },
            error: function () {
                alert("Please enter the correct address!!")
            }
        })
    }

    function startHedging() {
        if (!node) {
            alert("Please set the node first");
            return false;
        }

        if (address == 'Please fill in the marketmaker account address') {
            alert("Please fill in the marketmaker account address");
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/hedging/start-hedging",
            data: $('').serialize(),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('token', localStorage.getItem('token'));
            },
            success: function (result) {
                location.reload();
            },
            error: function () {
                alert("Error starting/closing!!")
            }
        })
    }
</script>

<style type="text/css">
    .bk {
        background-color: cadetblue;
        background-size: 100% 100%;
    }
</style>
</html>

