<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The user login</title>
</head>
<body class="bk">
<div style="text-align: center">
    <form id="login" action="/auth/verify" method="post">
        <label>user name: </label>
        <input type="text" name="userName">
        <label>password: </label>
        <input type="password" name="passwd">
        <input type="button" onclick="login()"  value="login"/>
    </form>

</div>
</body>

<script src="../js/jquery.min.js"></script>
<script type="text/javascript">
    function login() {
        $.ajax({
            type: "POST",
            url: "/auth/verify",
            data: $('#login').serialize(),
            success: function (result) {
                // console.log(result)
                if (!result || "" == result) {
                    location.href   = "/login"
                }else {
                    localStorage.setItem("token", result);
                    location.href = "/hedging/hedgingData"
                }
                // location.reload();
            },
            error: function () {
                alert("Please enter the correct username and password!!")
            }
        })
    }
</script>

<style type="text/css">
    .bk{
        background-color: cadetblue;
        background-size: 100% 100%;
    }
</style>
</html>

